/*  your css code here. If applicable */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Optional background color */
}
#box{
	width:200px;
	height:200px;
	background-color:lightblue;
	border:2px solid black;
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center
}
#box p{
	color:purple
}